.RecipePage__comment_list {
    list-style: none;
    padding-left:20px;
    padding-right: 20px;
    /* background-color:rgb(245, 245, 245); */
}

.RecipePage__comment:hover .Recipepage__comment_manipulateCommentButton{
    display: inline-flex;
}

.Recipepage__comment_manipulateCommentButton{
    display: none;
    margin-left: 10px;
}

.Recipepage__comment_manipulateCommentButton button{
    border:none;
    background: none;
    outline:none;
    color: rgb(112, 137, 151)
}

.Recipepage__comment_manipulateCommentButton button:hover{
    color: rgb(82, 101, 112)
}

.Recipepage__comment_CommentFormButton {
    display: flex;
    justify-content: flex-end;
}

.Recipepage__comment_CommentFormButton button:first-child{
    margin-right: 5px;
  
}

.Recipepage__comment_manipulateCommentForm_textarea {
    width: 100%;
}

.RecipePage__comment_poster{
    display: inline-block;
    color:rgb(102, 102, 102);
}

.RecipePage__comment_poster_control_group{
    display: flex;
    align-items: center;
}

.RecipePage__comment_poster_control_group p{
    font-size: small;

}

.RecipePage__comment_dateCreated{
    margin-left: 10px;
    color:rgb(131, 131, 131);
}

.RecipePage__coment_content{
    margin-top: 0;
    color: black;
}

@media screen and (min-width: 400px) {
    .RecipePage__comment_dateCreated{
        margin-left:20px;
    }
    .Recipepage__comment_manipulateCommentButton{
        margin-left:20px;
    }

}

@media screen and (min-width: 500px) {
    .RecipePage__comment_poster_control_group p{
        font-size: initial;
    
    }

}
