
.Categorylink p{
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 0;
}
.Categorylink a {
    text-decoration: none;
    padding: 8px 10px;
    
}

.Categorylink a:hover {
    border-bottom: 1px solid grey;
}

.Categorylink {
    margin-left: 10px;
}

.Categorylink .selected {
    background-color: grey;
    color: white;
}

.Categorylink_menu {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    width: 96px;
    /* border: 1px solid grey; */
    border-radius: 0 0 10px 10px;
    /* overflow: hidden; */
}