.HeaderDropDown_bars {
    background: none;
    border: none;
    outline: none;
}

.HeaderDropDown_menu{
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    width: 96px;
    /* border: 1px solid grey; */
    border-radius: 0 0 10px 10px;
}